<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Screening Progress</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="dashboard">

    <h1><%= screening.job_title %></h1>

    <hr>

    <div class="progress-container">

    <div class="progress-bar">

    <div
        id="completedFill"
        class="progress-fill completed-fill">
    </div>

    <div
        id="failedFill"
        class="progress-fill failed-fill">
    </div>

</div>

<div id="progressText"></div>

    <div id="progressText">
        0%
    </div>

</div>

<hr>

    <h3>Status</h3>

    <p>
    <strong id="screeningStatus"><%= screening.status %></strong>
    </p>

    <p>
        Total Resumes :
        <strong><%= screening.total_resumes %></strong>
    </p>

    <p>
Completed :
<strong id="completedCount">
    <%= screening.completed_resumes %>
</strong>
</p>

<p>
Failed :
<strong id="failedCount">
    <%= screening.failed_resumes %>
</strong>
</p>

    <hr>

    <h2>Resumes</h2>

    <% resumes.forEach(resume => { %>

        <div class="resume-item">

            <span class="resume-name">

                <%= resume.original_name %>

            </span>

            <span class="resume-status">

                <%= resume.processing_status %>

            </span>

        </div>

    <% }) %>

</div>

    <script>
        const screeningId ="<%= screening.screening_id %>";
    </script>

    <script src="/js/screeningProgress.js"></script>

</body>

</html>